<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Eligibility_Automation.Eligibility_Direct_TopUp.java"/>
            <class name="Eligibility_Automation.Smfg_Direct.java"/>
            <class name="Eligibility_Automation.Vivriti_Direct_Topup.java"/>
       </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
